<section id="kickstarter" data-type="background" data-speed="10">
    <div class="inner kickstarter-wrapper text-align-center">
        <div class="">
            <h1>Support Candy Jar with 3 Clicks</h1>
        </div>
    </div>
</section>
<section id="kickstarter-share" data-type="background" data-speed="5">
    <div class="ui-block text-align-center">
        <div class="circle background-white-opacity">
            <div class="circle-inner kickstarter" id="cj_kickstarter">
                <a href="#" target="_blank">
                    <h3>Pledge on</h3>
                    <div><img src="//cdn.shopify.com/s/files/1/0524/3025/files/kickstarter-logo-light-200_compact.png?2420" /></div>
                </a>
            </div>
        </div>
        <div class="circle background-white-opacity">
            <div class="circle-inner facebook">
                <h3>Share on Facebook</h3>
                <div id="cj_facebook" class="fb-share-button" data-layout="button" data-width="100"></div>
            </div>
        </div>
        <div class="circle background-white-opacity">
            <div class="circle-inner twitter">
                <h3>Post on Twitter</h3>
                <div id="cj_twitter"></div>
            </div>
        </div>
    </div>
</section>
<section id="referral" data-type="background" data-speed="10">
    <div class="row">
        <div class="singup-page margin-auto">
            <div class="padding-30 background-white signup-wrapper">
                <h1>Be Sweet.</h1>
                <!-- Begin MailChimp Signup Form -->
                <p>Your online candy store is coming soon. Sign up to follow our launch and get free candy when you share the love.</p>
                <div class="form-wrapper"><form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post" id="signup_form">
                    <div class="data-entry"><input id="email" maxlength="80" name="email" placeholder="email address" required="" class="form-control" type="text" /> <label for="email" class="hide-on-load">enter your email address</label></div>
                    <input name="submit" id="sign_up" value="get started" type="submit" /> <input name="oid" value="00DA0000000bmKW" type="hidden" /> <input name="retURL" value="http://www.candyjar.com/pages/share" type="hidden" /> <input id="00NG000000EUBxo" maxlength="255" name="00NG000000EUBxo" size="20" type="hidden" /> <input id="00NG000000EUBxt" maxlength="255" name="00NG000000EUBxt" size="20" type="hidden" /> <input id="00NG000000EUEKG" maxlength="255" name="00NG000000EUEKG" size="20" type="hidden" /></form></div>
            </div>
        </div>
    </div>
</section>