<div class="kickstarter-wrapper text-align-center background-white padding-30">
    <div class="row">
        <h1>Support Candy Jar with 3 Clicks</h1>
    </div>
    <div class="row">
        <div class="col-xs-4"><div class=" padding-30"><h3>Share on Facebook</h3><div id="cj_facebook" class="fb-share-button"></div></div></div>
        <div class="col-xs-4"><div class=" padding-30"><h3>Post on Twitter</h3><div id="cj_twitter"></div></div></div>
        <div class="col-xs-4"><div class=" padding-30"><h3>Pledge on</h3><div id="cj_kickstarter"><img src="/kickstarter-logo-light-200.png"</div></div></div>

    </div>
</div>