<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="padding-30 background-white share-wrapper">
            <h1>Be Sweet.</h1>

            <p>In just a few weeks, Candy Jar will be the best place to discover and buy candy online. The link below is
                yours to share. Help us spread the word and get a free jar of candy when your friends
                sign-up.<sup>1</sup></p>

            <div class="row"><input id="refLink" maxlength="255" name="email" placeholder="generating..." required class="form-control" type="text"/></div>
            <div id="shareBox" class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="fb-share-button" data-href="" data-layout="button" data-width="50"></div>
                </div>
                <div class="col-lg-4 col-md-4" id="cj_twitter"></div>
                <div class="col-lg-4 col-md-4" id="cj_googleplus"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="padding-30 background-white share-wrapper">
            <div class="share-headers">
                <div class="level-header">
                    <h6>Candy Earned</h6>
                </div>
                <div class="friend-header">
                    <h6>Friends Joined</h6>
                </div>
            </div>
            <div id="progress_wrapper">
                <div id="levels">
                    <div class="level level-1" data-level-id="1"><span></span></div>
                    <div class="level level-2" data-level-id="2"><span></span></div>
                    <div class="level level-3" data-level-id="3"><span></span></div>
                </div>
                <div id="progress-indicator">
                    <div id="blue"></div>
                </div>
                <div id="friends_level">
                    <div class="friend-level friend-level-1" data-friend-level-id="1">
                        <div class="">25</div>
                    </div>
                    <div class="friend-level friend-level-2" data-friend-level-id="2">
                        <div class="">50</div>
                    </div>
                    <div class="friend-level friend-level-3" data-friend-level-id="3">
                        <div class="">75</div>
                    </div>
                </div>
                <div id="slider_handle"></div>
            </div>
            <div class="friend-header mobile-768">
                <h6>Friends Joined</h6>
            </div>
        </div>
    </div>
</div>