<div id="404" class="row">
  <div class="span12" style="text-align:center">
    
    <p>Oh, no! The page you're looking for doesn't exist! Please contact <a href="mailto:support@candyjar.com?Subject=Missing%20Page" target="_top"> Support</a> and let us know what happened.
<style><!--
label 
	{
		float: left;
		text-align: right;
		margin-right: 15px;
		width: 100px;
		padding-top: 5px;
		font-weight: bold;
	}
	input#submit 
	{
		width: 100px;
		height: 40px;
		margin-left: 525px;
position:relative;
	}
	*:focus 
	{
		border: 2px solid;
	}
	form
	{
		margin-left: 100px;
	}
--></style>
    
  </div>
</div>